* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

section {
  width: 300px;
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin: 0.25em 0;
}

form button {
  margin: 0.5em;
}

form p {
  margin: 0.25em;
}

form p span {
  font-weight: bold;
  margin: 0.5em;
}

ul li {
  display: flex;
  width: 200px;
  justify-content:space-between;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  font-size: 1.15em;
  cursor: pointer;
}